<h1>All my recipe categories in my cookbook:</h1>
  <div>
    <ul>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category_path(category) %></li>
      <%= link_to "delete this category", category_path(category), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this?"} %>
    <% end %>
    </ul>
  </div>
